@model Jawlaty.Models.Trips.Trips

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trips</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Withtraveling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Withtraveling)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasChlidren)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasChlidren)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
